body{
    background-color: #F1F5F7;
    font-family: 'Poppins', 'Sans-serif';
}
nav{
    font-size: 24px;
}
/* body*/
.header{
    text-align: center;
    margin-top: 60px;
}
.header h3{
    font-size: 48px;
    font-weight: 700;
}
.header h3 span{
    color: #0C4171;
}
.header p{
    font-size: 24px;
    font-weight: 400px;
    color: #676767;
}
/* Informasi Rute */
.infoRute {
    display: flex;
    max-width: 1100px;
    width: 100%; /* Memungkinkan elemen menggunakan lebar penuh hingga batas maksimal */
    height: 207px;
    margin: 0 auto;
    padding: 20px 36px;
    background-color: #f8f9fa; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    row-gap: 10px;
    align-items: center;
}

.dari, .tujuan, .jadwal {
    margin-right: 5px;
    flex: 1; 

}
.infoRute h5 {
    font-size: 1.25rem; /* Ukuran font untuk judul */
    font-weight: 600;
    color: #0C4171; /* Warna teks judul */
    margin-bottom: 10px; /* Jarak bawah judul */
}

.dropdown {
    position: relative; /* Posisi relatif untuk dropdown */
}
.dropdown-toggle{
    background-color: transparent;
    color: #000;
    border-radius: 0px;
    border:none;
    border-bottom: 2px solid #0C4171;
}
.dropdown-toggle:hover{
    background-color: #0C4171;
}
.dropdown-toggle:focus{
    background-color: #0C4171;
}

.infoRute .btn-custom{
    margin-left: 78px;
    width: 190px;
    height: 55px;
    background-color: #0C4171;
    color: #ffffff;
}

/* Footer */
.footer{
    display: flex;
    background: linear-gradient(to right, #0C4171, #1264AF); 
    padding: 20px 64px; 
    color: white;
    width: 100%;
    height: 350px;
    align-items: flex-start;
}

.footer .col1 .unduh{
    margin-top: 111px;
}
.footer .col1 .unduh .logo_download{
    margin-top: 30px;
}

.footer .col2{
    margin-left: 135px;
    max-width: 350px;
}
.footer .col2 h3{
    font-size: 32;
}
.footer .col2 p{
    font-size: 16px;
    text-align: justify;
}

.footer .col3{
    margin-left: 135px;
    max-width: 350px;
}

/* Membuat Tab Responsive */

@media (min-width: 768px) and (max-width: 1024px){
/* Navigation bar */
nav{
    max-width: 768px;
    width: 100%;
    font-size: 20px;
}
/* jumbotron */
.jumbotron{
    height: auto;
    width: 768px;
    margin-top: 60px;
}
/* body*/
.header{
    text-align: center;
    margin-top: 32px;
}
.header h3{
    font-size: 36px;
    font-weight: 700;
}
.header h3 span{
    color: #0C4171;
}
.header p{
    font-size: 20px;
    font-weight: 400px;
    color: #676767;
}
/* Informasi Rute */
.infoRute {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    width: 100%; /* Memungkinkan elemen menggunakan lebar penuh hingga batas maksimal */
    height: auto;
    margin: 0 auto;
    padding: 20px 32px;
    background-color: #f8f9fa; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}

.dari, .tujuan, .jadwal { 
    row-gap: 70px;
    justify-content: center;
    margin-left: 60px;

}
.infoRute h5 {
    font-size: 18px; /* Ukuran font untuk judul */
    font-weight: 600;
    color: #0C4171; /* Warna teks judul */
    margin-bottom: 10px; /* Jarak bawah judul */
    justify-content: center;
}

.dropdown {
    position: relative; /* Posisi relatif untuk dropdown */
}
.dropdown-toggle{
    background-color: transparent;
    color: #000;
    border-radius: 0px;
    border:none;
    border-bottom: 2px solid #0C4171;
}
.dropdown-toggle:hover{
    background-color: #0C4171;
}
.dropdown-toggle:focus{
    background-color: #0C4171;
}

.infoRute .btn-custom{
    justify-content: center;
    margin-left: 2px;
    width: 600px;
    height: 55px;
    background-color: #0C4171;
    color: #ffffff;
    margin-top: 30px;
}
.peringatan{
    max-width: 768px;
    width: 100%;
}
/* Footer */
.footer{
    display: grid;
    grid-row: 2;
    background: linear-gradient(to right, #0C4171, #1264AF); 
    padding: 20px 64px; 
    color: white;
    max-width: 768px;
    width: 100%;
    height: auto;
    align-items: flex-start;
}
.footer .col1{
    margin: 0px 32px;
}
.footer .col1 img{
    max-width: 256px;
    width: 100%;
    height: auto;
}
.footer .col1 .unduh{
    margin-top: 111px;
}
.footer .col1 .unduh h5{
    font-size: 24px;
}
.footer .col1 .unduh .logo_download{
    margin-top: 27px;
}

.footer .col2{
    margin: 20px 32px;
    max-width: 350px;
}
.footer .col2 h3{
    font-size: 32;
}
.footer .col2 p{
    font-size: 16px;
    text-align: justify;
}

.footer .col3{
    margin: 20px 32px;
    max-width: 350px;
}
.footer .col3 img{
    width: 47px;
    height: auto;
}
}
/* Membuat mobile responsive */
@media (min-width: 320px) and (max-width: 428px){
/* Navigation bar */
nav{
    width: 100%;
    font-size: 14px;
}
nav img{
    align-items: start;
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-left: 0px;
}
/* jumbotron */
.jumbotron{
    height: auto;
    width: max-content;
}
/* body*/
.header{
    text-align: center;
    margin-top: 32px;
}
.header h3{
    font-size: 20px;
    font-weight: 700;
}
.header h3 span{
    color: #0C4171;
}
.header p{
    font-size: 12px;
    font-weight: 400px;
    color: #676767;
}
/* Informasi Rute */
.infoRute {
    display: block;
    max-width: 428px;
    width: 100%; /* Memungkinkan elemen menggunakan lebar penuh hingga batas maksimal */
    height: auto;
    padding: 20px;
    background-color: #f8f9fa; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    column-gap: 18px;
    align-items: center;
}

.dari, .tujuan, .jadwal {
    margin-top: 18px;
    flex: 11; 
    gap: 78;

}
.infoRute h5 {
    font-size: 16px; /* Ukuran font untuk judul */
    font-weight: 600;
    color: #0C4171; /* Warna teks judul */
    margin-bottom: 10px; /* Jarak bawah judul */
}

.dropdown {
    position: relative; /* Posisi relatif untuk dropdown */
}
.dropdown-toggle{
    text-align: start;
    background-color: transparent;
    width: 390px;
    color: #000;
    border-radius: 0px;
    border:none;
    border-bottom: 2px solid #0C4171;
}
.dropdown-toggle:hover{
    background-color: #0C4171;
}
.dropdown-toggle:focus{
    background-color: #0C4171;
}

.infoRute .btn-custom{
    margin-top: 18px;
    margin-left: 2px;
    width:390px;
    height: 38px;
    background-color: #0C4171;
    color: #ffffff;
}
.peringatan{
    width: 100%;
    height: auto;
}
/* Footer */
.footer{
    display: block;
    grid-row: 2;
    background: linear-gradient(to right, #0C4171, #1264AF); 
    padding: 20px 24px; 
    color: white;
    max-width: 768px;
    width: 100%;
    height: auto;
    align-items: flex-start;
}
.footer .col1 img{
    max-width: 256px;
    width: 100%;
    height: auto;
}
.footer .col1 .unduh{
    margin-top: 111px;
}
.footer .col1 .unduh h5{
    font-size: 24px;
}
.footer .col1 .unduh .logo_download{
    margin-top: 27px;
}

.footer .col2{
    margin: 20px 0px;
    max-width: 350px;
}
.footer .col2 h3{
    font-size: 32;
}
.footer .col2 p{
    font-size: 16px;
    text-align: justify;
}

.footer .col3{
    margin-left: 0px;
    max-width: 350px;
}
}
